<div>
    <h2 id="page-heading">
        <span jhiTranslate="openVoteBackApp.candidate.home.title">Candidates</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate" [routerLink]="['/candidate/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="openVoteBackApp.candidate.home.createLabel">
            Create a new Candidate
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="candidates?.length === 0">
        <span jhiTranslate="openVoteBackApp.candidate.home.notFound">No candidates found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="candidates && candidates.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="openVoteBackApp.candidate.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="openVoteBackApp.candidate.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="politicalParty"><span jhiTranslate="openVoteBackApp.candidate.politicalParty">Political Party</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="openVoteBackApp.candidate.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="imageUrl"><span jhiTranslate="openVoteBackApp.candidate.imageUrl">Image Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cikCandidateId"><span jhiTranslate="openVoteBackApp.candidate.cikCandidateId">Cik Candidate Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                    <td><a [routerLink]="['/candidate', candidate.id, 'view']">{{ candidate.id }}</a></td>
                    <td>{{ candidate.name }}</td>
                    <td>{{ candidate.type }}</td>
                    <td>{{ candidate.politicalParty }}</td>
                    <td>{{ candidate.description }}</td>
                    <td>{{ candidate.imageUrl }}</td>
                    <td>{{ candidate.cikCandidateId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/candidate', candidate.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/candidate', candidate.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(candidate)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
