<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
<head>
    <title th:text="#{email.with.password.title}">Password Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="#{email.with.password.greeting(${user.firstName})}">
    Dear
</p>
<p th:text="#{email.with.password.text1}">
    Your account has been created, your password below:
</p>
<p th:text="${user.password}"></p>
<p>
    <span th:text="#{email.with.password.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.with.password.signature}">Open Vote</em>
</p>
</body>
</html>
